/* font family */
$ff-base: "Roboto", sans-serif;
$ff-title: "Lato", sans-serif;
$ff-second: "Roboto", sans-serif;

/* font-size */
$fs: 16px;

// ===== COLORS =====

$white: #ffffff;
$silver_shimmer: #d3d3d3;
$azure_sky: #6cc4cc;
$misty_turquoise: #56aeb6;
$charcoal_gray: #4f4f4f;
$menu_hover: #454141;
$footer_border: #363636;
$hover_svg: #4d4d4d;
$ebony_black: #2c2c2c;
$blackest_night: #2a2828;
$black: #000000;
