<div class="container cloth-container">
  <div class="row">
    <div class="col-md-3">
      <button id="toggle-sidebar" class="toggle-sidebar-btn">Фільтрувати за</button>
      <div class="sidebar" id="sidebar">
        <button id="close-sidebar" class="close-sidebar-btn">&times;</button>
        <ul>
          <li>
            <a href="#" class="toggle-category" id="gender">Стать </a>
            <ul>
              {% for gender in genders %}
              <li>
                <label>
                  <input type="checkbox" name="{{{gender}}}" class="filter-checkbox" data-category="gender">
                  {% if gender == 'boy' %}
                  Хлопчики
                  {% endif %}
                  {% if gender == 'girl' %}
                  Дівчатка
                  {% endif %}
                  {% if gender == 'unisex' %}
                  Унісекс
                  {% endif %}
                </label>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <a href="#" class="toggle-category" id="age">Вік</a>
            <ul>
              {% for age in ages %}
              <li>
                <label>
                  <input type="checkbox" name="{{{age.value}}}" class="filter-checkbox" data-category="age">
                  {{{age.title}}}
                </label>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <a href="#" class="toggle-category" id="season">Сезон</a>
            <ul>
              {% for season in seasons %}
              <li>
                <label>
                  <input type="checkbox" name="{{{season}}}" class="filter-checkbox" data-category="season">
                  {{{season}}}
                </label>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <a href="#" class="toggle-category" id="price">Ціна</a>
            <div class="container mt-1">
              <div class="d-flex justify-content-between align-items-center">
                <input type="number" id="price-min" min="{{{minPrice}}}" max="{{{maxPrice}}}" value="{{{minPrice}}}"
                  class="form-control">
                <span class="mx-2 dash">-</span>
                <input type="number" id="price-max" min="{{{minPrice}}}" max="{{{maxPrice}}}" value="{{{maxPrice}}}"
                  class="form-control">
              </div>
              <div class="slider-container position-relative">
                <div class="slider-track"></div>
                <div class="slider-range" id="slider-range"></div>
                <input type="range" class="slider" id="slider-min" min="{{{minPrice}}}" max="{{{maxPrice}}}" step="10"
                  value="{{{minPrice}}}">
                <input type="range" class="slider" id="slider-max" min="{{{minPrice}}}" max="{{{maxPrice}}}" step="10"
                  value="{{{maxPrice}}}">
                <div class="slider-values">
                  <span class="slider-min-value">₴{{{minPrice}}}</span>
                  <span class="slider-max-value">₴{{{maxPrice}}}</span>
                </div>
                <div class="slider-steps">
                  <span class="step" style="left: 10%;">|</span>
                  <span class="step" style="left: 20%;">|</span>
                  <span class="step" style="left: 30%;">|</span>
                  <span class="step" style="left: 40%;">|</span>
                  <span class="step" style="left: 50%;">|</span>
                  <span class="step" style="left: 60%;">|</span>
                  <span class="step" style="left: 70%;">|</span>
                  <span class="step" style="left: 80%;">|</span>
                  <span class="step" style="left: 90%;">|</span>
                </div>
              </div>
              <a id="reset" class="reset-button">Очистити</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="cloth__list">
        {% for product in products %}
        <a href="/product/{{{product._id|string}}}" class="cloth__item cloth__item-products" data-modal-id="modal">
          <img src="{{{product.thumb}}}" alt="{{{product.name}}}" />
          <div class="cloth__item-title">{{{product.name}}}</div>
          <div class="cloth__item-price">{{{product.price}}} <span>{{{currency}}}</span></div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script type="module">
  import Dom from "/api/wjst/dom";
  document.addEventListener('DOMContentLoaded', function () {
    var toggles = document.querySelectorAll('.toggle-category');
    toggles.forEach(function (toggle) {
      toggle.addEventListener('click', function (event) {
        event.preventDefault();
        var parentLi = this.parentElement;
        if (parentLi.classList.contains('active')) {
          parentLi.classList.remove('active');
        } else {
          // Закрити всі інші активні категорії
          toggles.forEach(function (t) {
            t.parentElement.classList.remove('active');
          });
          parentLi.classList.add('active');
        }
      });
    });

    const priceMinInput = Dom.element('price-min');
    const priceMaxInput = Dom.element('price-max');
    const sliderMin = Dom.element('slider-min');
    const sliderMax = Dom.element('slider-max');
    const sliderRange = Dom.element('slider-range');

    function updateFilters() {
      let url = new URL(window.location.href);
      let params = new URLSearchParams(url.search);

      const filterCategories = document.querySelectorAll('.toggle-category');
      filterCategories.forEach(category => {
        params.delete(category.id);
      });

      const filterValues = {};

      document.querySelectorAll('.filter-checkbox').forEach(checkbox => {
        if (checkbox.checked) {
          const category = checkbox.getAttribute('data-category');
          if (!filterValues[category]) {
            filterValues[category] = [];
          }
          filterValues[category].push(checkbox.name);
        }
      });

      const minPrice = Dom.element('price-min').value;
      const maxPrice = Dom.element('price-max').value;
      if (minPrice !== '' && maxPrice !== '') {
        filterValues['price'] = [minPrice, maxPrice];
        // Make sure price filter section stays open
        document.getElementById('price').parentElement.classList.add('active');
      }

      for (const [category, values] of Object.entries(filterValues)) {
        if (values.length > 0) {
          params.set(category, values.join(','));
        }
      }
      url.search = params.toString();
      window.history.replaceState(null, null, url.toString());
      location.reload();
    }
    function initializeFilters() {
      let url = new URL(window.location.href);
      let params = new URLSearchParams(url.search);
      let categoriesWithEnabledFilters = new Set();

      params.forEach((value, key) => {
        let values = value.split(',');
        values.forEach(val => {
          if (key === 'price') {
            Dom.element('price-min').value = values[0];
            Dom.element('price-max').value = values[1];
            Dom.element('slider-min').value = values[0];
            Dom.element('slider-max').value = values[1];
          } else {
            let checkbox = document.querySelector(`.filter-checkbox[data-category="${key}"][name="${val}"]`);
            if (checkbox) {
              checkbox.checked = true;
              categoriesWithEnabledFilters.add(key);
            }
          }
        });
      });

      categoriesWithEnabledFilters.forEach(category => {
        let categoryElement = document.getElementById(category);
        if (categoryElement) {
          categoryElement.parentElement.classList.add('active');
        }
      });
    }
    initializeFilters();
    updateSlider();
  });
</script>