<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Filters</title>
  <style>
    .active>ul {
      display: block;
    }
  </style>
</head>

<body>
  <div class="container cloth-container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar">
          <h3>Фільтрувати за</h3>
          <ul>
            <li>
              <a href="#" class="toggle-category" id="gender">Стать</a>
              <ul>
                <li>
                  <label>
                    <input type="checkbox" name="boy" class="filter-checkbox" data-category="gender">
                    Хлопчики
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" name="girl" class="filter-checkbox" data-category="gender">
                    Дівчатка
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" name="unisex" class="filter-checkbox" data-category="gender">
                    Унісекс
                  </label>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="toggle-category" id="season">Сезон</a>
              <ul>
                {% for season in seasons %}
                <li>
                  <label>
                    <input type="checkbox" name="{{{season}}}" class="filter-checkbox" data-category="season">
                    {{{season}}}
                  </label>
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="cloth__list">
          {% for product in products %}
          <a href="/product/{{{product._id|string}}}" class="cloth__item cloth__item-products" data-modal-id="modal">
            <img src="{{{product.thumb}}}" alt="{{{product.name}}}" />
            <div class="cloth__item-title">{{{product.name}}}</div>
            <div class="cloth__item-price">{{{product.price}}} <span>{{{currency}}}</span></div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var toggles = document.querySelectorAll('.toggle-category');
      toggles.forEach(function (toggle) {
        toggle.addEventListener('click', function (event) {
          event.preventDefault();
          var parentLi = this.parentElement;
          if (parentLi.classList.contains('active')) {
            parentLi.classList.remove('active');
          } else {
            parentLi.classList.add('active');
          }
        });
      });

      document.querySelectorAll('.filter-checkbox').forEach(checkbox => {
        checkbox.addEventListener('change', function () {
          updateFilters();
        });
      });

      function updateFilters() {
        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search);

        const filterCategories = document.querySelectorAll('.toggle-category');
        filterCategories.forEach(category => {
          params.delete(category.id);
        });

        const filterValues = {};

        document.querySelectorAll('.filter-checkbox').forEach(checkbox => {
          if (checkbox.checked) {
            const category = checkbox.getAttribute('data-category');
            if (!filterValues[category]) {
              filterValues[category] = [];
            }
            filterValues[category].push(checkbox.name);
          }
        });
        for (const [category, values] of Object.entries(filterValues)) {
          if (values.length > 0) {
            params.set(category, values.join(','));
          }
        }
        url.search = params.toString();
        window.history.replaceState(null, null, url.toString());
        location.reload();
      }

      function initializeFilters() {
        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search);
        let categoriesWithEnabledFilters = new Set();

        params.forEach((value, key) => {
          let values = value.split(',');
          values.forEach(val => {
            let checkbox = document.querySelector(`.filter-checkbox[data-category="${key}"][name="${val}"]`);
            if (checkbox) {
              checkbox.checked = true;
              categoriesWithEnabledFilters.add(key);
            }
          });
        });

        categoriesWithEnabledFilters.forEach(category => {
          let categoryElement = document.getElementById(category);
          if (categoryElement) {
            categoryElement.parentElement.classList.add('active');
          }
        });
      }

      initializeFilters();
    });
  </script>
</body>

</html>