.cart-container {
    max-width: 1340px;
    padding: 0 20px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 30px 0;
}

.cart-products .cart-product {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2px;
}

.cart-product img.product-image {
    width: auto;
    /* Maintains the aspect ratio */
    height: 75px;
    /* Fixed height for uniformity */
    max-width: 100px;
    /* Maximum width to ensure images are not too large */
    object-fit: contain;
    /* Ensures the image is resized properly within the dimensions */
    margin-right: 20px;
    /* Space between the image and the product details */
}

.cart-product-name {
    flex-grow: 1;
}

.quantity-minus,
.quantity-plus {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    padding: 0;
    color: #fff;
    background-color: #6cc4cc;
    border: none;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.quantity-value {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #d3d3d3;
}

.cart-total-container {
    text-align: right;
    margin: 20px 0;
    font-size: 20px;
}

.cart-info-form {
    margin-bottom: 50px;
}

.cart-info-form input,
.cart-info-form .cart-checkout-btn {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.cart-checkout-btn {
    background-color: #2a2828;
    color: white;
}

.cart-checkout-btn:disabled {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .cart-container {
        padding: 0 10px;
    }

    .cart-product {
        flex-direction: column;
        align-items: center;
    }

    .cart-product img.product-image {
        margin-bottom: 10px;
    }

    .product-quantity {
        width: 100%;
    }

    .quantity-minus,
    .quantity-plus,
    .quantity-value {
        flex: 1;
    }
}

.input-group button {
    margin-top: 12px;
    background-color: #2a2828;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.deleteDiscount {
    margin-top: 12px;
    padding: 10px;
    background-color: #313030;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

#existingDiscount {
    color: #56989e;
}
.product-quantity {
    display: flex;
    align-items: center;
}

.product-quantity button,
.product-quantity input {
    margin-right: 5px;
}

.product-total-price {
    display: inline-block;
    min-width: 65px;
}
