.orders_list {
padding-bottom: 20px;
    & table {
        width: 100%;
        border-collapse: collapse;
    }
    & th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    & th {
        background-color: var(--azure_sky);
    }
    & tr:hover {
    background-color: #f5f5f5;
    }
}
.flex-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%; /* Робимо таблицю шириною 100% */
}

.flex-row {
    display: flex;
    border-top: 1px solid #ccc;
    width: 100%; /* Робимо рядки шириною 100% */
}

.flex-header {
    font-weight: bold;
}

.flex-cell {
    flex: 1; /* Задаємо кожній комірці рівну частину простору */
    padding: 8px;
    border-right: 1px solid #ccc; /* Додаємо правий бордер для розділення комірок */
}

.flex-cell:last-child {
    border-right: none; /* Видаляємо бордер для останньої комірки */
}