/*---------------Картка одягу--------------*/
.cloth__item {
    max-width: 310px;
    max-height: 590px;
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
  
    img {
      height: 465px;
      width: 100%;
      object-fit: cover;
      transition: transform 0.4s ease;
    }
  }
  
  .cloth__item:hover img {
    transform: scale(1.02);
  }
  
  .cloth__item:hover .cloth__item-title,
  .cloth__item:hover .cloth__item-price {
    color: $azure_sky;
  }
  
  .cloth__item-title {
    transition: 0.2s ease;
    font-size: 16px;
    padding-top: 20px;
  }
  
  .cloth__item-price {
    transition: 0.2s ease;
    font-size: 18px;
    padding-top: 10px;
  }
  /*---------------/Картка одягу--------------*/