.menu-main__wrapper {
	background-color: $blackest_night;
	top: -1px;
	z-index: 999;
	text-align: center;
}

.menu-main {
	.menu-main__container {
		background-color: #2a2828;
		overflow-x: auto;
		white-space: nowrap;
	}

	/* Стилизация самой полосы прокрутки */
	.menu-main__container::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	/* Стилизация ползунка полосы прокрутки */
	.menu-main__container::-webkit-scrollbar-thumb {
		height: 3px;
		background-color: $azure_sky;
	}

	/* Стилизация полосы прокрутки при наведении курсора */
	.menu-main__container::-webkit-scrollbar-thumb:hover {
		background-color: $misty_turquoise;
	}

	&__li .active {
		border-bottom: 1px solid #6cc4cc;
	}

	&__ul {

		justify-content: start;
		//   justify-content: space-between;
		//   align-items: center;
		text-transform: uppercase;
		display: flex;
		overflow: hidden;
	}

	&__li {
		margin-left: 14px;
	}

	&__a {
		padding: 15px 20px;
		color: white;
		background-color: inherit;
		font-size: 18px;
		text-transform: uppercase;
		white-space: nowrap;
		transition: background-color 0.2s ease;

		img {
			width: 26px;
		}
	}

	@media (max-width: 992px) {
		position: sticky;
		top: -1px;

		.menu-main__container::-webkit-scrollbar {
			height: 5px;
		}
	}

	@media (max-width: 768px) {
		&__a {
			padding: 15px 20px;
			font-size: 16px;

			img {
				width: 20px;
			}
		}
	}

	@media (max-width: 576px) {
		&__a {
			font-size: 12px;
			display: flex;
			align-items: center;
			padding: 12px 10px;

			img {
				width: 18px;
			}
		}
	}
}





//////breadcrumbs/////

// .breadcrumbs {
// 	text-transform: uppercase;
// 	border-radius: 0.3rem;
// 	display: inline-flex;
// 	overflow: hidden;
// }

// .breadcrumbs__item {
// 	display: flex;
// 	align-items: center;
// 	font-size: 18px;
// 	background: #ffffff;
// 	color: #EAA619;
// 	outline: none;
// 	padding: 0.75em 0.75em 0.75em 1.25em;
// 	position: relative;
// 	text-decoration: none;
// 	transition: background 0.2s linear;

// }

// .breadcrumbs__item:after,
// .breadcrumbs__item:before {
// 	background: #2a2828;
// 	bottom: 0;
// 	clip-path: polygon(50% 50%, -50% -50%, 0 100%);
// 	content: "";
// 	left: 100%;
// 	position: absolute;
// 	top: 0;
// 	transition: background 0.2s linear;
// 	width: 1em;
// 	z-index: 1;
// }

// .breadcrumbs__item:before {
// 	background: white;
// 	margin-left: 1px;
// }

// .breadcrumbs__item:last-child {
// 	border-right: none;
// }

// @media (max-width: 768px) {
// 	.breadcrumbs__item {
// 		color:#EAA619;
// 		font-size: 16px;
// 		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
// 	}
// }

// .dropdown-menu {
// 	position:relative;
// 	top: 270px;
// 	left: 50%;
// 	transform: translate(-50%, -50%);
// 	background-color: #ffffff;
// 	max-width: 1250px;
// 	height: auto; 
// 	z-index: 1000;
// 	overflow-y: auto;
// 	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
// }
.btn-group .btn {
    min-height: 0;
    background-color: #6cc4cc00; /* Example background color */
    position: relative; /* Ensure positioning context */
}

.dropdown-toggle {
    display: inline-block;
    position: absolute;
    right: 10px; /* Adjust as needed to position the arrow at the end */
}

.dropdown-menu[data-bs-popper] {
    left: auto; /* Adjust if necessary */
}

.btn-group-vertical > .btn,
.btn-group > .btn {
    color: #2a2828; /* Example text color */
}
// .submenu {
// 	display: none;
// 	position: absolute;
// 	left: 170px;
// 	background-color: #ffffff;
// }


// .dropdown-item-wrapper:hover .submenu {
// 	display: block;
// 	/* Показуємо дочірній список при наведенні на wrapper */
// }

// .dropdown-menu.show {
// 	display: block;
// }

// .dropdown-item {
// 	color: #000000;
// 	text-align: left;
// 	display: block;
// 	max-width: 100%;
// 	white-space: normal;
// 	font-size: 14px;
// 	margin-left: 10px;
// 	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
// }

// .dropdown-item:last-child {
// 	border-bottom: none;
// }

@media (max-width: 768px) {
	.dropdown-menu {
		height: 350px;
		padding: 0;

		li {
			display: inline-flex;
		}
	}
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-collapse {
		justify-content: center;
	}
}

.navbar-toggler {
	margin-bottom: 20px;
}

.container-fluid .navbar-collapse {
	background-color: #dbdbdb00;
	border: none;
}

.dropdown-hover {
	display: inline-flex;

	.button-menu {
		margin: 25px;
		text-transform: uppercase;
		color: black;
		background: #ffffff;
	}
}