.menu-main__wrapper {
    background-color: $blackest_night;
    top: -1px;
    z-index: 999;
    text-align: center;
}

.menu-main__container {
    background-color: #2a2828;
    overflow-x: auto;
    white-space: nowrap;
}

/* Scrollbar styling */
.menu-main__container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.menu-main__container::-webkit-scrollbar-thumb {
    height: 3px;
    background-color: $azure_sky;
}

.menu-main__container::-webkit-scrollbar-thumb:hover {
    background-color: $misty_turquoise;
}

.menu-main__li .active {
    border-bottom: 1px solid #6cc4cc;
}

.menu-main__ul {
    justify-content: start;
    text-transform: uppercase;
    display: flex;
    overflow: hidden;
}

.menu-main__li {
    margin-left: 14px;
}

.menu-main__a {
    padding: 15px 20px;
    color: white;
    background-color: inherit;
    font-size: 18px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background-color 0.2s ease;
}

.menu-main__a img {
    width: 26px;
}

@media (max-width: 992px) {
    .menu-main__container::-webkit-scrollbar {
        height: 5px;
    }
}

@media (max-width: 768px) {
    .menu-main__a {
        padding: 15px 20px;
        font-size: 16px;
    }

    .menu-main__a img {
        width: 20px;
    }
}

@media (max-width: 576px) {
    .menu-main__a {
        font-size: 12px;
        display: flex;
        align-items: center;
        padding: 12px 10px;
    }

    .menu-main__a img {
        width: 18px;
    }
}

#menu-drop2 {
    top: -12px;
    left: 35px;
    border: none;
}

/* Style for nested dropdown menus */
.btn-group .dropdown-menu {
    top: 20px;
    left: 100%;
    margin-top: -1px;
    z-index: 1000;
    transform: translateX(0);
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-group .btn {
    min-width: 0;
    min-height: 0;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
}

.btn-group.dropend:empty .dropdown-toggle::after {
    display: none;
}

.dropdown-menu[data-bs-popper] {
    left: auto;
}

.btn-group-vertical > .btn,
.btn-group > .btn {
    color: #2a2828;
}

@media (max-width: 768px) {
    .dropdown-menu {
        height: 350px;
        padding: 0;
    }

    .dropdown-menu li {
        display: inline-flex;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }
}

.navbar-toggler {
    margin-bottom: 20px;
}

.container-fluid .navbar-collapse {
    background-color: #dbdbdb00;
    border: none;
}

.dropdown-hover {
    display: inline-flex;
}

.button-menu {
    margin: 25px;
    text-transform: uppercase;
    color: black;
    background: #ffffff;
}